:root {
    --bg-dark: #061e6e;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
  }
  
  .app {
    margin: 0px;
    height: 100vh;
    background-color:  	#c2eeee;
  }

.grid {
	display: grid;
  max-width: 1760px;
}

.grid-template-columns {
	grid-template-columns: 200px  200px  200px  200px  200px ;

}


@media(max-width: 768px) {
  .grid{
    display: -ms-inline-grid;
  }

}

